@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-thin::-webkit-scrollbar {
  width: 6px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
}
.scroll-thin::-webkit-scrollbar-track {
  background-color: transparent;
}
